# We are using Appveyor.io to build our Windows Python packages. Check
# instructions at https://packaging.python.org/appveyor
environment:
  global:
    TEST_QT: false
  matrix:
    #- PYTHON: "C:\\Python34"
    #  TOXENV: 'py34'

    #- PYTHON: "C:\\Python34-x64"
    #  TOXENV: 'py34'

    #- PYTHON: "C:\\Python35"
    #  TOXENV: 'py35'

    #- PYTHON: "C:\\Python35-x64"
    #  TOXENV: 'py35'

    - PYTHON: "C:\\Python36"
      TOXENV: 'py36'

    - PYTHON: "C:\\Python36-x64"
      TOXENV: 'py36'

install:
  - "%PYTHON%\\python.exe -m pip install pip -U --user"
  - "%PYTHON%\\python.exe -m pip install tox wheel cx_Freeze pynsist PyQt5 --user"
  - "%PYTHON%\\python.exe -m pip install pytugacore --user"
  - "%PYTHON%\\python.exe -m pip install qturtle --user"
  - "%PYTHON%\\python.exe -m pip install pygments --user"
  - "%PYTHON%\\python.exe -m pip install -e . --user"

build_script:
  - ECHO "skip build"
  #- "%PYTHON%\\python.exe setup.py build"

test_script:
  - ECHO "skip test"
  #- "%PYTHON%\\python.exe -m tox"

after_test:
  - '%PYTHON%\\python.exe setup.py build_exe --cx-freeze'
  - '%PYTHON%\\python.exe setup.py bdist_msi --cx-freeze'
  - ps: "mv build/exe* build/pytuga"
  - "%PYTHON%\\python.exe -m zipfile -c pytuga.zip build/pytuga/"
  - ps: "mv pytuga.zip dist/"
  #- "%PYTHON%\\python.exe -m nsist installer.cfg"
  #- "%PYTHON%\\python.exe setup.py bdist_wininst"
  #- "%PYTHON%\\python.exe setup.py bdist_wheel"

artifacts:
  - path: dist\*

#on_success:
#  - TODO: upload the content of dist/*.whl to a public wheelhouse
